---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 1
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    ignore:
      - dependency-name: '@types/node'
        versions:
          - '>18'
      - dependency-name: express
        versions:
          - '>4.17'
    open-pull-requests-limit: 1
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    ignore:
      - dependency-name: node
        versions:
          - '>18.13'
    open-pull-requests-limit: 1
