---
version: "3.8"
services:
  notify:
    build:
      context: .
      target: notify
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    # jscpd:ignore-start
    image: ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify:${TAG_NAME}
    environment:
      NODE_OPTIONS: ${NODE_OPTIONS}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_CHANNEL: ${SLACK_CHANNEL}
      SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
      TZ: ${TZ}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      DB_PORT: ${DB_PORT}
      LAMBDA_PORT: ${LAMBDA_PORT}
    # jscpd:ignore-end
    depends_on:
      db:
        condition: service_healthy

  reply:
    build:
      context: .
      target: reply
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    # jscpd:ignore-start
    image: ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply:${TAG_NAME}
    environment:
      NODE_OPTIONS: ${NODE_OPTIONS}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_CHANNEL: ${SLACK_CHANNEL}
      SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
      TZ: ${TZ}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      DB_PORT: ${DB_PORT}
      LAMBDA_PORT: ${LAMBDA_PORT}
    # jscpd:ignore-end
    ports:
      - ${LAMBDA_PORT}:${LAMBDA_PORT}
    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      dockerfile: dynamodb/Dockerfile
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/db:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/db
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/db:${TAG_NAME}
    environment:
      DB_PORT: ${DB_PORT}
