---
version: "3.7"
services:
  notify:
    build:
      context: .
      target: notify
      cache_from:
        - ghcr.io/dev-hato/youtube_streaming_watcher/notify:${TAG_NAME}
        - ghcr.io/dev-hato/youtube_streaming_watcher/notify
    image: ghcr.io/dev-hato/youtube_streaming_watcher/notify:${TAG_NAME}
    env_file: .env
    depends_on:
      - db

  reply:
    build:
      context: .
      target: reply
      cache_from:
        - ghcr.io/dev-hato/youtube_streaming_watcher/reply:${TAG_NAME}
        - ghcr.io/dev-hato/youtube_streaming_watcher/reply
    image: ghcr.io/dev-hato/youtube_streaming_watcher/reply:${TAG_NAME}
    env_file: .env
    ports:
      - 3000:3000
    depends_on:
      - db

  db:
    image: amazon/dynamodb-local:1.18.0
