---
version: "3.7"
services:
  notify:
    build:
      context: .
      target: notify
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/notify:${TAG_NAME}
    env_file: .env
    depends_on:
      - db

  reply:
    build:
      context: .
      target: reply
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply
      args:
        BUILDKIT_INLINE_CACHE: 1
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/youtube_streaming_watcher}/reply:${TAG_NAME}
    env_file: .env
    ports:
      - 3000:3000
    depends_on:
      - db

  db:
    image: amazon/dynamodb-local:1.18.0
