[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==2.34.0"
slackclient = "==2.9.3"
python-dotenv = "==0.19.2"

[dev-packages]

[requires]
python_version = "3.9"
