---
name: cdk-deploy

on:
  push:
    branches:
      - main

jobs:
  cdk-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          role-to-assume: ${{ secrets.AWS_CDK_DEPLOY_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm_version=$(grep npm package.json \
                        | sed -e 's/ *"npm": "^\(.*\)"/\1/g')
          npm install -g "npm@${npm_version}"
          npm install
      - run: npx cdk deploy --require-approval never
