---
name: cdk-diff

on:
  pull_request:

jobs:
  cdk-diff:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
    steps:
      - run: |
          ROLE="arn:aws:iam::${{ secrets.AWS_ACCOUNT }}"
          ROLE+=":role/youtube_streaming_watcher_cdk_diff"
          echo "ROLE=${ROLE}" >> "${GITHUB_ENV}"
      - uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          role-to-assume: ${{ env.ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm_version=$(grep \"npm\" package.json \
                        | sed -e 's/ *"npm": "^\(.*\)"/\1/g')
          npm install -g "npm@${npm_version}"
          npm install
      # 差分があったときは差分を出力する
      - name: Show diff
        id: diff
        continue-on-error: true
        run: |
          set +e
          result=$(npx cdk diff 2>&1)
          exit_code=${?}
          echo -e "${result}"
          result="${result//'%'/'%25'}"
          result="${result//$'\n'/'%0A'}"
          result="${result//$'\r'/'%0D'}"
          echo "::set-output name=result::${result}"
          exit ${exit_code}
      - name: Comment
        uses: actions/github-script@v6
        env:
          RESULT: ${{steps.diff.outputs.result}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const RESULT = process.env["RESULT"]
            let body = 'インフラの差分\n<details>\n\n```\n'
            body += RESULT.trim()
            body += '\n```\n\n</details>'
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body,
            })
      - if: steps.diff.outcome == 'failure'
        run: exit 1
