---
name: cdk-deploy

on:
  push:
    branches:
      - main

jobs:
  cdk-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - run: |
          ROLE="arn:aws:iam::${{ secrets.AWS_ACCOUNT }}"
          ROLE+=":role/youtube_streaming_watcher_cdk_deploy"
          echo "ROLE=${ROLE}" >> "${GITHUB_ENV}"
          echo "REPOSITORY=${{github.repository}}" >> "${GITHUB_ENV}"
      - uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          role-to-assume: ${{ env.ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm_version=$(grep \"npm\" package.json \
                        | sed -e 's/ *"npm": "^\(.*\)"/\1/g')
          npm install -g "npm@${npm_version}"
          npm ci --prefer-offline
      - run: npx cdk deploy --require-approval never
