---
name: cdk-diff

on:
  pull_request:

jobs:
  check-cdk-diff:
    runs-on: ubuntu-latest
    outputs:
      deploy-files: ${{ steps.changes.outputs.deploy-files }}
    if: github.repository == github.event.pull_request.head.repo.full_name && github.event.action != 'closed'
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: dorny/paths-filter@v2.11.1
        id: changes
        with:
          filters: |
            deploy-files:
              - .github/workflows/cdk-deploy.yml
              - .github/workflows/cdk-diff.yml
              - bin/cdk.ts
              - lib/**
              - scripts/**
              - src/**
              - .node-version
              - cdk.json
              - package*.json
              - tsconfig.json
              - .npm*

  cdk-diff:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
    needs: check-cdk-diff
    if: needs.check-cdk-diff.outputs.deploy-files == 'true'
    env:
      REPOSITORY: ${{github.repository}}
    steps:
      - env:
          AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
        run: bash "${GITHUB_WORKSPACE}/scripts/cdk_diff/cdk_diff/set_env.sh"
      - uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ env.ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-node@v3.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: bash "${GITHUB_WORKSPACE}/scripts/npm_ci.sh"
      # 差分があったときは差分を出力する
      - name: Show diff
        id: diff
        continue-on-error: true
        run: bash "${GITHUB_WORKSPACE}/scripts/cdk_diff/cdk_diff/diff.sh"
      - name: Comment
        uses: actions/github-script@v6.3.3
        env:
          RESULT: ${{steps.diff.outputs.result}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/cdk_diff/cdk_diff/comment.js`)
            await script({github, context})
      - if: steps.diff.outcome == 'failure'
        run: exit 1

  cdk-diff-complete:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - check-cdk-diff
      - cdk-diff
    steps:
      - if: ${{ github.repository != github.event.pull_request.head.repo.full_name || needs.check-cdk-diff.outputs.deploy-files == 'false' || needs.cdk-diff.result == 'success' }}
        run: exit 0
      - if: ${{ !(github.repository != github.event.pull_request.head.repo.full_name || needs.check-cdk-diff.outputs.deploy-files == 'false' || needs.cdk-diff.result == 'success') }}
        run: exit 1
