---
name: cdk-diff

on:
  pull_request:

jobs:
  check-cdk-diff:
    runs-on: ubuntu-latest
    outputs:
      deploy-files: ${{ steps.changes.outputs.deploy-files }}
    if: github.repository == github.event.pull_request.head.repo.full_name && github.event.action != 'closed'
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: dorny/paths-filter@v2.10.2
        id: changes
        with:
          filters: |
            deploy-files:
              - .github/workflows/cdk-deploy.yml
              - .github/workflows/cdk-diff.yml
              - bin/cdk.ts
              - lib/**
              - src/**
              - .node-version
              - cdk.json
              - package*.json
              - tsconfig.json
              - .npm*

  cdk-diff:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
    needs: check-cdk-diff
    if: needs.check-cdk-diff.outputs.deploy-files == 'true'
    steps:
      - run: |
          ROLE="arn:aws:iam::${{ secrets.AWS_ACCOUNT }}"
          ROLE+=":role/youtube_streaming_watcher_cdk_diff"
          echo "ROLE=${ROLE}" >> "${GITHUB_ENV}"
          echo "REPOSITORY=${{github.repository}}" >> "${GITHUB_ENV}"
      - uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ env.ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-node@v3.5.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm_version=$(jq -r '.engines.npm | ltrimstr("^")' package.json)
          npm install --prefer-offline --location=global "npm@${npm_version}"
          npm ci --prefer-offline
      # 差分があったときは差分を出力する
      - name: Show diff
        id: diff
        continue-on-error: true
        run: |
          set +e
          result=$(npx cdk diff 2>&1)
          exit_code=${?}
          echo -e "${result}"
          result="${result//'%'/'%25'}"
          result="${result//$'\n'/'%0A'}"
          result="${result//$'\r'/'%0D'}"
          echo "::set-output name=result::${result}"
          exit ${exit_code}
      - name: Comment
        uses: actions/github-script@v6.3.0
        env:
          RESULT: ${{steps.diff.outputs.result}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const RESULT = process.env["RESULT"]
            let body = 'インフラの差分\n<details>\n\n```\n'
            body += RESULT.trim()
            body += '\n```\n\n</details>'
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body,
            })
      - if: steps.diff.outcome == 'failure'
        run: exit 1

  cdk-diff-complete:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - check-cdk-diff
      - cdk-diff
    steps:
      - if: ${{ github.repository != github.event.pull_request.head.repo.full_name || needs.check-cdk-diff.outputs.deploy-files == 'false' || needs.cdk-diff.result == 'success' }}
        run: exit 0
      - if: ${{ !(github.repository != github.event.pull_request.head.repo.full_name || needs.check-cdk-diff.outputs.deploy-files == 'false' || needs.cdk-diff.result == 'success') }}
        run: exit 1
