---
name: cdk-deploy

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cdk-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm install -g npm@7.21.0
          npm install
      - run: npm run export
      - uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
      - run: npx cdk deploy --require-approval never
