---
name: update-packages

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main

jobs:
  update-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - name: Get @types/express version
        uses: actions/github-script@v6.3.3
        id: get_types_express_version
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/update_packages/update_packages/get_types_express_version.js`)
            return script()
      - run: bash "${GITHUB_WORKSPACE}/scripts/npm_ci.sh"
      - uses: actions/github-script@v6.3.3
        env:
          PACKAGE_ECOSYSTEM: npm
          MATCH_PACKAGE_NAME: express
          MAX_ALLOWED_VERSION: ${{ steps.get_types_express_version.outputs.result }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/update_config.js`)
            script()
      - name: Check needs update
        id: check_needs_update
        env:
          TYPES_EXPRESS_VERSION: ${{ steps.get_types_express_version.outputs.result }}
        run: bash "${GITHUB_WORKSPACE}/scripts/update_packages/update_packages/check_needs_update.sh"
      - if: steps.check_needs_update.outputs.needs_update == 'true'
        env:
          EXPRESS_VERSION: ${{ steps.get_types_express_version.outputs.result }}
        run: bash "${GITHUB_WORKSPACE}/scripts/update_packages/update_packages/update.sh"
      - uses: dev-hato/actions-diff-pr-management@v1.0.8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-packages
          pr-title-prefix: expressをアップデートしてあげたよ！
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
