---
name: update-major-node

on:
  schedule:
    - cron: '0 21 * * *' # 06:00 JST
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
    paths:
      - .github/workflows/update-major-node.yml
      - scripts/update_major_node/update_major_node/*

jobs:
  # AWS Lambdaのランタイムのページをスクレイピングし、そこに記述されているNode.jsランタイムのバージョンがアップデートされていたらDockerイメージをアップデートする
  update-major-node:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3.6.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: bash "${GITHUB_WORKSPACE}/scripts/npm_ci.sh"
      - name: Get latest Lambda support version
        id: get_latest_lambda_support_version
        uses: actions/github-script@v6.4.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/update_major_node/update_major_node/get_latest_lambda_support_version.js`)
            return await script()
      - uses: actions/github-script@v6.4.0
        env:
          PACKAGE_ECOSYSTEM: npm
          MATCH_PACKAGE_NAME: "@types/node"
          MAX_ALLOWED_VERSION: ${{steps.get_latest_lambda_support_version.outputs.result}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/update_config.js`)
            script()
      - env:
          LAMBDA_VERSION: ${{steps.get_latest_lambda_support_version.outputs.result}}
        run: bash "${GITHUB_WORKSPACE}/scripts/update_major_node/update_major_node/exit.sh"
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{steps.get_latest_lambda_support_version.outputs.result}}
      - uses: dev-hato/actions-diff-pr-management@v1.1.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-major-node
          pr-title-prefix: "@types/nodeのアップデート条件を修正してあげたよ！"
